/* SCSS HEX */
$black-olive: #37392eff;
$blue-sapphire: #19647eff;
$verdigris: #28afb0ff;
$pale-silver: #ddcecdff;
$isabelline: rgb(226, 226, 226);

// Formulario Login
$white-solar: rgb(255, 255, 255);

// botões
$background-color: #dfdbdb; 
$buttons-color: #4b4b4b; 
$background-color-hover: #ffffff; 
$buttons-color-hover: #19647eff;


$color_default: $black-olive;
$color_secondary: $blue-sapphire;
$color_background: $isabelline;
$color_accent: $verdigris;

// Formulario Login
$color_form: $white-solar;

// botões
$color_button: $buttons-color;
$color_button_bg: $background-color;

// botões Hover
$color_button_hover: $buttons-color-hover;
$color_button_bg_hover: $background-color-hover;