 
    <h3>Franquias</h3>
    <div class="py-4">
        <button type="button" class="btn btn-dark" (click)="onSelect()">Salvar</button>
    </div>
    <div class="card-container"> 
        <div class="column"> 
               
            <div *ngFor="let franch of franquise; let i = index"> 

                <div class="card-franchise"> 
                    <div class="box-close" (click)='removeFranchise(i)'> X </div> 
                    <label>Valor:</label>
                    <input class="form-control" [(ngModel)]="franch.value">
                    <label> Quantidade:</label>
                    <input class="form-control" [(ngModel)]="franch.quantity">
                </div>

            </div> 

            <a (click)="addFranchise()">
                <div class="box-add">
                    <span>+</span>
                </div> 
            </a>
        </div>
    </div>  
 
