<div class="wrapper"> 
	<div class="separation-element">
		<h3>Todos os itens cadastrados</h3>
 	</div> 
	<div class="py-4">
		<button type="button" class="btn btn-dark" [routerLink]="['/add-item']">Add Itens</button>
	</div>
	<div class="separation-element"> 
		<div class="container">
			<div class="row">
				<div *ngFor="let el of this.list" class="col py-2">
					<div class="card" style="width: 18rem;">
						<div class="card-body">
							<h5 class="card-title">{{el.id}}</h5>
							<p class="card-text">{{el.name}}</p>
							<a class="btn btn-dark" [routerLink]="['/add-item', el.id]">Ver Selo</a>
						</div>
					</div>
				</div>
			</div>
		</div>
		
	</div>
</div>