 
    <h3>Franquias</h3>
    <form action="">
    
    <div class="py-4">
        <button type="button" class="btn btn-dark" (click)="onSelect()">Salvar</button>
    </div>
    
    
    <input 
            type="text" 
            class="form-control" 
            id="franchise" 
            name="franchise" 
            [(ngModel)]="franchise.franchise" 
            required
            >
    
    
    <div class="card-container"> 
    
        <div class="column">  
        
            <div *ngFor="let ef of list; let i = index"> 

                <div class="card-franchise"> 
                
                    <div class="box-close" (click)='removeFranchise(i)'> X </div> 
                    
                    <label>Valor:</label>
                    
                    <input class="form-control" [(ngModel)]="ef.value" name="value" >
                    
                    <label> Quantidade:</label>
                    
                    <input class="form-control" [(ngModel)]="ef.quantity" name="quantity" >
                    
                </div>

            </div> 

            <a (click)="addFranchise()">
                <div class="box-add">
                    <span>+</span>
                </div> 
            </a>
        </div>
    </div>  
 
    </form>