@import "./src/variables.scss";
  
.card-container{
    align-items: center;
    background: #fff;
    border: 2px dashed #717386;
    border-radius: 5px;
    color: #717386;
    cursor: pointer; 
    font-size: 16px; 
    overflow-x: auto;
  }
  
  .box-add {
    background-color: $color_button;
    color: $color_button_bg;
    padding: 61px 106px;
    box-shadow: 5px 2px 5px 1px #00000040;
    border-radius: 5px;
    transition: all .3s; 
    box-shadow: 5px 5px 30px 7px #00000040;
    cursor: pointer;
    margin: 5px; 
  }
  
  .box-add > span{
    color: $color_button_bg;
  }
  
  .box-add:hover {
    background-color: $buttons-color-hover;
    color: $background-color-hover;
  }
  
  .cards-list {
    z-index: 0;
    width: 100%;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
  }
  
  .card-franchise {
    box-shadow: 5px 2px 4px 1px #00000040;
    border-radius: 5px;
    margin: 5px;
    cursor: pointer;
    transition: .4s;
    padding: 10px 3px;
    border: 1px solid #0000003b;
  }
  
  .box-close {  
    position: absolute;
    border-radius: 5px;
    font-size: 23px; 
    cursor: pointer;
    margin-left: 260px;
    margin: -10px 200px;
    color: red;
  }
  
  .column {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }
  