@import "./src/variables.scss";

.wrapper {
	margin: auto;
	width: 80%;
	max-width: 1200px;
	padding-top: 50px;
}

.separation-element {
	border-bottom: 1px solid $color_accent;
	margin-bottom: 20px;
}

.title {
	flex: 1 1 0px;
}

.bar-with-actions {
	display: flex;
	flex-direction: row;
}
